* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
	display: inline-block;
}

/*总框架样式*/
#main {
	width: 1903px;
	/*height: 4000px;*/
	background-color: darkgoldenrod;
	margin: auto;
}

/*顶部导航样式*/
#top {
	height: 50px;
	width: 1903px;
	background-color: #000;
	
}

#top img {
	float: left;
	margin-left: 335px;
	margin-top: 7px;
}

#top-ul {
	width: 1500px;
	position: relative;
	left: 15px;
	/*background-color: red;*/
}

#top-ul ul li {
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	margin-left: -9px;
	/*border: 1px red solid;*/
}

#top-ul ul li a {
	color: #FFF;
	width:100px;
	height: 50px;
	/*background-color: chartreuse;*/
	display: inline-block;
}

#top-ul ul li a:hover{
	background-color: #FFF;
	color: #000;	
}

/*首页轮播图样式*/
#lunbo-img img {
	width: 1903px;
	position: absolute;
}

#lunbo-word {
	width: 340px;
	height: 400px;
	/*background-color: aquamarine;*/
	position: absolute;
	top: 235px;
	left: 395px;
}

#lunbo-word #p-01 {
	font-size: 100px;
	font-weight: bold;
	font-family: "微软雅黑";
	/*background-color: red;*/
	color: #FFF;
}

#lunbo-word #p-02 {
	font-size: 35px;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	margin-top: 20px;
	/*background-color: red;*/
	color: #FFF;
}

#lunbo-word #p-03 {
	font-size: 30px;
	/*font-weight: bold;*/
	/*font-family: "微软雅黑";*/
	margin-top: 10px;
	/*background-color: red;*/
	color: #FFF;
}

#lunbo-word #p-04 {
	width: 170px;
	height: 50px;
	background-color: #2083DA;
	font-size: 24px;
	font-family: "微软雅黑";
	margin-top: 20px;
	color: #FFF;
	text-align: center;
	line-height: 50px;
}

#lunbo-word p a {
	width: 170px;
	height: 50px;
	color: #FFF;
}

#tianchong {
	height: 585px; /*填充轮播图片绝对定位后的空缺*/
}

/*产品展示样式*/
#show {
	width: 1903px;
	height: 720px;
	background-color: #FFF;
}

#show-01 {
	width: 1200px;
	height: 700px;
	/*background-color: aquamarine;*/
	margin: auto;
}

#show-02 {
	padding-top: 20px;
}

.show-00 {
	width: 1200px;
	height: 340px;
	/*background-color: rosybrown;*/
}

.show-00 img {
	margin-left: 10px;
}

.show-img-00 {
	float: left;
	color: #FFFFFF;
	position: relative;
}

.show-img-00 p {
	position: absolute;
	
}

.p-00{
	font-size: 28px;
}

.p-111 {
	display: none;
	color: #FFF;
}

.show-img-00 a:hover .p-111{
	display: block;
}

.show-img-01 .show-img-p-01{
	top: 144px;
	left:255px;
}

.show-img-01 .show-img-p-02{
	top:180px;
	left: 245px;
}

.show-img-02 .show-img-p-03{
	top:144px;
	left:120px;
}

.show-img-02 .show-img-p-04{
	top:180px;
	left:110px;
}

.show-img-p-05 {
	top:180px;
	left:125px;
}

/*新闻中心样式*/
#News {
	width: 1903px;
	height: 600px;
	background-color: #F2F2F2;
}

#News-top {
	width: 500px;
	height: 200px;
	margin: auto;
	/*background-color: aquamarine;*/
}

#News-top #News-p-01 {
	width: 300px;
	height: 80px;
	margin: auto;
	text-align: center;
	line-height: 80px;
	color: #B3B3B3;
	font-size: 28px;
	font-family: "微软雅黑";
	font-weight: bold;
	letter-spacing: 5px;
	/*background-color: darkgoldenrod;*/
	
}

#News-top hr {
	width: 210px;
	height: 1px;
	border: none;
	border-bottom: 1px #B6C0C8 solid;
	margin-left: 140px;
	margin-top: 20px;
	background-color: #072C4C;
}

#News-top #News-p-02 {
	width: 100px;
	height: 30px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	line-height: 30px;
	position: relative;
	top:-16px;
	left:195px;
} 

#News-top ul {
	margin-left: 65px;
}

#News-top ul li {
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: -2px;
	/*border: 1px #F2F2F2 solid;*/
	/*background-color: cornflowerblue;*/
}

#News-top ul li a {
	width: 120px;
	height: 40px;
	/*margin-left: -9px;*/
	border: 1px #F2F2F2 solid;
	/*background-color: red;*/
	display: inline-block;
}

#News-top ul li a:hover {
	border-color:#000 ;
}

#News-new {
	width: 1240px;
	height: 400px;
	margin: auto;
	/*background-color: cornflowerblue;*/
}

#News-new #new-01 {
	width: 600px;
	height: 200px;
	/*background-color: darkgoldenrod;*/
	float: left;
	margin-left: 20px;
}

#News-new #new-01 img {
	float: left;
}

#new-02 {
	width: 270px;
	height: 200px;	
	/*background-color: darkgreen;*/
	float: left;
}

#new-02 p {
	margin-left: 10px;
	margin-top: 10px;
}

#new-p-01 {
	font-size: 18px;
	font-weight: bold;
}

.new-p-02 {
	padding-top: 15px;	
}

/*捷安特家庭样式*/
#giant-fl {
	width: 1903px;
	height: 980px;
	background-color: #FFF;
}

#giant-img {
	width: 1200px;
	height: 400px;
	margin: auto;
	/*background-color: chartreuse;*/
	margin-top: -20px;
}

#giant-word {
	width: 1200px;
	height: 400px;
	/*background-color: darkorange;*/
	margin: auto;
}

#giant-word-01 {
	width: 300px;
	height: 4 	00px;
	/*background-color: darkseagreen;*/
	float: left;
}

#giant-word-01-01 {
	width: 128px;
	height: 128px;
	/*border: 2px #000 solid;*/
	border-radius: 64px;
	background-color: #000;
	margin-left: 90px;
	margin-top: 100px;
}

#giant-word-01-01 p {
	width: 120px;
	height: 120px;
	/*border: 2px #000 solid;*/
	border-radius: 60px;
	background-color: #FFF;
	position: relative;
	top:4px;
	left: 4px;
}

#giant-word-01-01 p a {
	width: 120px;
	height: 120px;
	/*border: 2px #000 solid;*/
	border-radius: 60px;
	background-color: #FFF;
	display: inline-block;
}

#giant-word-01-01 p a:hover{}

#giant-word-01 img {
	margin-left: 35px;
	margin-top: 40px;
}

#giant-p-01 {
	font-size: 24px;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

#giant-p-02 {
	width: 280px;
	margin: auto;
	text-align: center;

}

/*底部样式*/
#bottom {
	width: 1903px;
	height: 400px;
	background-color: #000;
}

#bottom-1 {
	width: 660px;
	height: 400px;
	/*background-color: aquamarine;*/
	float: left;
}

#bottom-1 img {
	margin-left: 360px;
	margin-top: 100px;
}

#bottom-1 p {
	display: inline-block;
	font-size: 28px;
	color: #B3B3B3;
	position: relative;
	left:10px;
	top:-10px;
}

#bottom-2 {
	width: 640px;
	height: 400px;
	/*background-color: cornflowerblue;*/
	float: left;
}

#bottom-2-01 {
	width: 400px;
	height: 100px;
	/*background-color: chartreuse;*/
	text-align: center;
	line-height: 140px;
	margin: auto;
}

#bottom-2-01 p span{
	font-size: 24px;
	color: #FFF;
}

#bottom-2-02 {
	width: 600px;
	height: 80px;
	/*background-color: darkgoldenrod;*/
	text-align: center;
	/*line-height: 140px;*/
	margin: auto;
}

#bottom-2-02 ul li {
	margin-left: 8px;
	color: #B3B3B3;
}

#bottom-2-02 ul li a{
	color: #B3B3B3;
}

#bottom-2-02 ul li a:hover {
	color: #FFF;
}

#bottom-2-02 hr {
	color: #B3B3B3;
	margin-top: 15px;
}

#bottom-2-03 {
	width: 600px;
	height: 180px;
	/*background-color: aquamarine;*/
	text-align: center;
	/*line-height: 140px;*/
	margin: auto;
}

#bottom-li-1{
	width: 150px;
	height: 180px;
	/*background-color: red;*/
	text-align: center;
	float: left;
	/*line-height: 140px;*/
	/*margin: auto;*/
}

#bottom-li-1 ul li {
	font-size: 20px;
	display: block;
	margin-top: 5px;
}

#bottom-li-1 ul li a{
	color: #B3B3B3;
}

#bottom-li-1 ul li a:hover {
	color: #FFF;
}

#bottom-3 {
	width: 603px;
	height: 400px;
	/*background-color: darkorange;*/
	float: left;
}

#bottom-3-01 {
	width: 400px;
	height: 200px;
	/*background-color: aquamarine;*/
	margin-top: 100px;
	margin-left: 20px;
}

#bottom-3-01 p{
	font-size: 20px;
	color: #B3B3B3;
}

#bottom-3-01 img {
	margin-top: 20px;
}











